@using asp_lesson_5_12.Models
@model Book

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<div>
    <div>
        <p>
            Id: @Html.DisplayFor(model => model.Id)
        </p>
        <p>
            Название: @Html.DisplayFor(model => model.Name)
        </p>
        <p>
            Цена: @Html.DisplayFor(model => model.Price)
        </p>

    </div>
</div>