@using asp_lesson_5_12.Models
@model Book

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <p>Название: @Html.EditorFor(model => model.Name)</p>
    <p>Цена: @Html.EditorFor(model => model.Price)</p>
    <p><input type="submit" value="Сохранить" /></p>
}